@use './vars';

body {
  &.light {
    background-color: vars.$bg-light;
    .calculator {
      background-color: vars.$input-gray;
      &__input {
        input {
          background-color: vars.$input-gray;
        }
      }
      &__btns {
        button {
          color: vars.$black;
          background-color: vars.$white;
          &:hover {
            background-color: vars.$btn-gray-light;
          }
          &.btn-gray-dark {
            background-color: vars.$btn-gray-light;
            &:hover {
              background-color: vars.$white;
            }
          }
          &.btn-orange {
            color: vars.$white;
            background-color: vars.$btn-orange;
            &:hover {
              background-color: vars.$btn-orange-dark;
            }
          }
        }
      }
    }
  }
}
