// Colors
$white: #ffffff;
$black: #000000;
$bg-dark: #2a2a2a;
$bg-light: #dfdfdf;
$input-gray: #535353;
$btn-gray: #7d7d7d;
$btn-gray-dark: #646464;
$btn-gray-light: #c6c6c6;
$btn-orange: #f2a33c;
$btn-orange-dark: #cb8a34;
